$fontFamily: serif;
$fontWeightNav: 30px;
$contentBackground: lightgray;
$lineColorNav: rgb(155, 155, 155);
$linkColorNav: rgb(243, 85, 12);
$linkVisitedColorNav: rgb(0, 255, 128);
$articleColor: white;
$postDescription: rgb(185, 208, 211);
$postH3Color: rgb(138, 151, 153);
$colorP: gray;
$btnColor: white;