$fontFamily: sans-serif;
$fontWeightNav: 30px;
$contentBackground: white;
$lineColorNav: rgb(68, 68, 68);
$linkColorNav: rgb(10, 186, 230);
$linkVisitedColorNav: rgb(0, 255, 128);
$articleColor: lightgray;
$postDescription: rgb(5, 204, 144);
$postH3Color: rgb(28, 199, 241);
$colorP: gray;
$btnColor: white;